<div class='header'>
  <p class='text_adm'>Администратор расписания</p>
  <%= link_to 'На главную', admin_index_path, method: :get, class: 'go_back' %>
</div>

<div class='row'>

  <div class='col-4 offset-1'>
    <h3 class='text-center'>Список предметов</h3>
    <% unless @lessons.empty? %>
      <table class='table table-borderless'>
        <% @lessons.each do |subj| %>
          <tr>
            <td><%= subj.name %></td>
            <td><%= link_to "Удалить", admin_destroy_subject_path(id: subj.id), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Список предметов отсутствует<p>
    <% end %>

  </div>
  <div class='col-4 offset-1'>
    <h3>Добавить предмет</h3>
    <%= form_for @new_lesson, url: admin_add_subject_path, method: 'post' do |f| %>

      <div class='row col-7'>
        <%= f.label :name, 'Название' %>
        <%= f.text_field :name %>
      </div>

      <div class='row col-3' style='margin: 10px'>
        <%= f.submit 'Добавить' %>
      </div>

    <% end %>

    <div class='message'>
      <% unless @error.nil? %>
        <p>Невозможно удалить данные, присутствует связь с преподавателем и расписанием</p>
      <% end %>
    </div>
  </div>

</div>

