<div class='header'>
  <p class='text-center text'>Добро пожаловать в наше учебное заведение!<p>
</div>

<div class='container main'>
  <div class='row main-info'>
    <div class='col-lg-2 offset-1'>
      <%= image_tag "logo.png", id: 'img', alt: 'kaltschool1.ru' %>
    </div>
    <div class='col-8' id='school-info'>
      <p id='mobu'>МОБУ Калтасинская СОШ №1</p>
      <p  id='addr'>
        Дата создания: 1924 год. Адрес: 452860, Республика Башкортостан, 
        Калтасинский район, с. Калтасы, ул. Карла Маркса, 80
      </p>
    </div>
  </div>
  <div class='row'>
    <div id='table' class='col-8'>
      <% unless @lessons.empty? %>
        <!-- вывод состояния расписания -->
        <div id='lesson_info'>

        </div>

        <table class='table table-borderless text-center'>
          <thead>
            <tr>
              <th>Класс</th>
              <th>Предмет</th>
              <th>Преподаватель</th>
              <th>Время окончания</th>
            </tr>
          </thead>
          <tbody style='width: 102%'>
            <% @lessons.each do |obj| %>
              <tr>
                <td><%= obj.class_id %></td>
                <td><%= obj.lessons[0].name %></td>
                <td><%= obj.teachers[0].FIO %></td>
                <td><%= obj.t_end.strftime("%H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class='text-center'>В данный момент отсутсвует расписание </div>
      <% end %>
    </div>

    <div class='col-4 large_display'>
      <div class='row data'>
        <div id='date'></div>
        <div id='digital-clock'>
        </div>
      </div>

      <div class='row'>
        <div id='analog-clock'>
          <div id="hour"></div>

          <div id="min"></div>        
          
          <div id="sec"></div>
        </div>
      </div>
    </div>
  </div>

  <div id='message'>
  
  </div>
</div>

<div class='footer'>
</div>

<%= javascript_pack_tag 'analog' %>
<%= javascript_pack_tag 'update_schedule' %>

